.menuLeft {
    background-color: white;
    /* width: 25%; */
    border-radius: 6px;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}

.h3 {
    margin: 0;
}

.img {
    width: 60px;
    max-height: 60px;
    border-radius: 6px;
    transition: 0.2s;
}

.imgItelFlex {
    display: flex;
    margin-bottom: 20px;
    gap: 15px;
    align-items: center;
}

.menuPosition {
    width: 22%;
    margin-top: 45px;
    min-width: 268px;
}

.flexMenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    gap: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.item:hover .img{
    scale: 1.05;
}

.text {
    text-align: center;
    font-size: 15px;
    /* margin: 0; */
}

.block {
    display: flex;
    justify-content: center;
}

.phoneText {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin: 0;
    color: rgb(97, 97, 97);
}

.btnCodCod {
    border: none;
    /* width: 100%; */
    padding: 5px 20px;
    font-size: 16px;
    height: auto;
    margin-top: 10px;
}

.btnFlex {
    display: flex;
    justify-content: center;
}

.categorias {
    gap: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    padding: 5px 0;
    width: 100%;
}

.categorias:hover {
    box-shadow: 0px 1px 20px 0px rgba(33, 33, 33, .05);
}

.categoriasText {
    font-size: 20px;
    font-weight: 500;
    text-align: start;
    margin: 0;
}


@media (max-width: 1120px) {
    .flexMenu {
        gap: 10px;
        /* grid-template-columns: repeat(2, 1fr); */
    }
}

@media (max-width: 890px) {
    .menuPosition {
        display: none;
    }   
}